In [105]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import data_cleanup as dc
import data_exploration as de
from Bio.Seq import Seq
import severity_score as ses



#codons = ['AAA', 'AAC', 'AAG', 'AAU', 'ACA', 'ACC', 'ACG', 'ACU', 'AGA', 'AGC', 'AGG', 'AGU', 'AUA', 'AUC', 'AUG', 'AUU', 'CAA', 'CAC', 'CAG', 'CAU', 'CCA', 'CCC', 'CCG', 'CCU', 'CGA', 'CGC', 'CGG', 'CGU', 'CUA', 'CUC', 'CUG', 'CUU', 'GAA', 'GAC', 'GAG', 'GAU', 'GCA', 'GCC', 'GCG', 'GCU', 'GGA', 'GGC', 'GGG', 'GGU', 'GUA', 'GUC', 'GUG', 'GUU', 'UAA', 'UAC', 'UAG', 'UAU', 'UCA', 'UCC', 'UCG', 'UCU', 'UGA', 'UGC', 'UGG', 'UGU', 'UUA', 'UUC', 'UUG', 'UUU']

# Create an empty dataframe with the custom row and column names
#codons_codons = pd.DataFrame(index=codons, columns=codons)

# Fill the dataframe
#for row_codon in codons:
    #for col_codon in codons:
        #differing_bases = sum(row_base != col_base for row_base, col_base in zip(row_codon, col_codon))
        #codons_codons.loc[row_codon, col_codon] = differing_bases

#codons_codons
#not used until now (20.6.)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
#aacids = ['K', 'N', 'K', 'N', 'T', 'T', 'T', 'T', 'R', 'S', 'R', 'S', 'I', 'I', 'M', 'I', 'Q', 'H', 'Q', 'H', 'P', 'P', 'P', 'P', 'R', 'R', 'R', 'R', 'L', 'L', 'L', 'L', 'E', 'D', 'E', 'D', 'A', 'A', 'A', 'A', 'G', 'G', 'G', 'G', 'V', 'V', 'V', 'V', 'STOP', 'Y', 'STOP', 'Y', 'S', 'S', 'S', 'S', 'STOP','L', 'F', 'L', 'C', 'W', 'C', 'L']

#codons_aacids = pd.DataFrame({'codons': codons, 'aacids': aacids })

#codons_aacids
#not used until now (20.6.)

In [3]:
dna_sequence = "ATGGAGGAGCCGCAGTCAGATCCTAGCGTCGAGCCCCCTCTGAGTCAGGAAACATTTTCAGACCTATGGAAACTACTTCCTGAAAACAACGTTCTGTCCCCCTTGCCGTCCCAAGCAATGGATGATTTGATGCTGTCCCCGGACGATATTGAACAATGGTTCACTGAAGACCCAGGTCCAGATGAAGCTCCCAGAATGCCAGAGGCTGCTCCCCCCGTGGCCCCTGCACCAGCAGCTCCTACACCGGCGGCCCCTGCACCAGCCCCCTCCTGGCCCCTGTCATCTTCTGTCCCTTCCCAGAAAACCTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTGGGACAGCCAAGTCTGTGACTTGCACGTACTCCCCTGCCCTCAACAAGATGTTTTGCCAACTGGCCAAGACCTGCCCTGTGCAGCTGTGGGTTGATTCCACACCCCCGCCCGGCACCCGCGTCCGCGCCATGGCCATCTACAAGCAGTCACAGCACATGACGGAGGTTGTGAGGCGCTGCCCCCACCATGAGCGCTGCTCAGATAGCGATGGTCTGGCCCCTCCTCAGCATCTTATCCGAGTGGAAGGAAATTTGCGTGTGGAGTATTTGGATGACAGAAACACTTTTCGACATAGTGTGGTGGTGCCCTATGAGCCGCCTGAGGTTGGCTCTGACTGTACCACCATCCACTACAACTACATGTGTAACAGTTCCTGCATGGGCGGCATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCAGTGGTAATCTACTGGGACGGAACAGCTTTGAGGTGCGTGTTTGTGCCTGTCCTGGGAGAGACCGGCGCACAGAGGAAGAGAATCTCCGCAAGAAAGGGGAGCCTCACCACGAGCTGCCCCCAGGGAGCACTAAGCGAGCACTGCCCAACAACACCAGCTCCTCTCCCCAGCCAAAGAAGAAACCACTGGATGGAGAATATTTCACCCTTCAGATCCGTGGGCGTGAGCGCTTCGAGATGTTCCGAGAGCTGAATGAGGCCTTGGAACTCAAGGATGCCCAGGCTGGGAAGGAGCCAGGGGGGAGCAGGGCTCACTCCAGCCACCTGAAGTCCAAAAAGGGTCAGTCTACCTCCCGCCATAAAAAACTCATGTTCAAGACAGAAGGGCCTGACTCAGAC"
rna_sequence = dna_sequence.replace("T", "U")

In [4]:
p53_codons = [rna_sequence[i:i+3] for i in range(0, len(rna_sequence), 3)]

p53_codons

['AUG',
 'GAG',
 'GAG',
 'CCG',
 'CAG',
 'UCA',
 'GAU',
 'CCU',
 'AGC',
 'GUC',
 'GAG',
 'CCC',
 'CCU',
 'CUG',
 'AGU',
 'CAG',
 'GAA',
 'ACA',
 'UUU',
 'UCA',
 'GAC',
 'CUA',
 'UGG',
 'AAA',
 'CUA',
 'CUU',
 'CCU',
 'GAA',
 'AAC',
 'AAC',
 'GUU',
 'CUG',
 'UCC',
 'CCC',
 'UUG',
 'CCG',
 'UCC',
 'CAA',
 'GCA',
 'AUG',
 'GAU',
 'GAU',
 'UUG',
 'AUG',
 'CUG',
 'UCC',
 'CCG',
 'GAC',
 'GAU',
 'AUU',
 'GAA',
 'CAA',
 'UGG',
 'UUC',
 'ACU',
 'GAA',
 'GAC',
 'CCA',
 'GGU',
 'CCA',
 'GAU',
 'GAA',
 'GCU',
 'CCC',
 'AGA',
 'AUG',
 'CCA',
 'GAG',
 'GCU',
 'GCU',
 'CCC',
 'CCC',
 'GUG',
 'GCC',
 'CCU',
 'GCA',
 'CCA',
 'GCA',
 'GCU',
 'CCU',
 'ACA',
 'CCG',
 'GCG',
 'GCC',
 'CCU',
 'GCA',
 'CCA',
 'GCC',
 'CCC',
 'UCC',
 'UGG',
 'CCC',
 'CUG',
 'UCA',
 'UCU',
 'UCU',
 'GUC',
 'CCU',
 'UCC',
 'CAG',
 'AAA',
 'ACC',
 'UAC',
 'CAG',
 'GGC',
 'AGC',
 'UAC',
 'GGU',
 'UUC',
 'CGU',
 'CUG',
 'GGC',
 'UUC',
 'UUG',
 'CAU',
 'UCU',
 'GGG',
 'ACA',
 'GCC',
 'AAG',
 'UCU',
 'GUG',
 'ACU',
 'UGC',
 'ACG',
 'UAC',
 'UCC',
 'CCU',
 'GCC',
 'CUC',
 'AAC',
 'AAG',
 'AUG',
 'UUU',
 'UGC',
 'CAA',
 'CUG',
 'GCC',
 'AAG',
 'ACC',
 'UGC',
 'CCU',
 'GUG',
 'CAG',
 'CUG',
 'UGG',
 'GUU',
 'GAU',
 'UCC',
 'ACA',
 'CCC',
 'CCG',
 'CCC',
 'GGC',
 'ACC',
 'CGC',
 'GUC',
 'CGC',
 'GCC',
 'AUG',
 'GCC',
 'AUC',
 'UAC',
 'AAG',
 'CAG',
 'UCA',
 'CAG',
 'CAC',
 'AUG',
 'ACG',
 'GAG',
 'GUU',
 'GUG',
 'AGG',
 'CGC',
 'UGC',
 'CCC',
 'CAC',
 'CAU',
 'GAG',
 'CGC',
 'UGC',
 'UCA',
 'GAU',
 'AGC',
 'GAU',
 'GGU',
 'CUG',
 'GCC',
 'CCU',
 'CCU',
 'CAG',
 'CAU',
 'CUU',
 'AUC',
 'CGA',
 'GUG',
 'GAA',
 'GGA',
 'AAU',
 'UUG',
 'CGU',
 'GUG',
 'GAG',
 'UAU',
 'UUG',
 'GAU',
 'GAC',
 'AGA',
 'AAC',
 'ACU',
 'UUU',
 'CGA',
 'CAU',
 'AGU',
 'GUG',
 'GUG',
 'GUG',
 'CCC',
 'UAU',
 'GAG',
 'CCG',
 'CCU',
 'GAG',
 'GUU',
 'GGC',
 'UCU',
 'GAC',
 'UGU',
 'ACC',
 'ACC',
 'AUC',
 'CAC',
 'UAC',
 'AAC',
 'UAC',
 'AUG',
 'UGU',
 'AAC',
 'AGU',
 'UCC',
 'UGC',
 'AUG',
 'GGC',
 'GGC',
 'AUG',
 'AAC',
 'CGG',
 'AGG',
 'CCC',
 'AUC',
 'CUC',
 'ACC',
 'AUC',
 'AUC',
 'ACA',
 'CUG',
 'GAA',
 'GAC',
 'UCC',
 'AGU',
 'GGU',
 'AAU',
 'CUA',
 'CUG',
 'GGA',
 'CGG',
 'AAC',
 'AGC',
 'UUU',
 'GAG',
 'GUG',
 'CGU',
 'GUU',
 'UGU',
 'GCC',
 'UGU',
 'CCU',
 'GGG',
 'AGA',
 'GAC',
 'CGG',
 'CGC',
 'ACA',
 'GAG',
 'GAA',
 'GAG',
 'AAU',
 'CUC',
 'CGC',
 'AAG',
 'AAA',
 'GGG',
 'GAG',
 'CCU',
 'CAC',
 'CAC',
 'GAG',
 'CUG',
 'CCC',
 'CCA',
 'GGG',
 'AGC',
 'ACU',
 'AAG',
 'CGA',
 'GCA',
 'CUG',
 'CCC',
 'AAC',
 'AAC',
 'ACC',
 'AGC',
 'UCC',
 'UCU',
 'CCC',
 'CAG',
 'CCA',
 'AAG',
 'AAG',
 'AAA',
 'CCA',
 'CUG',
 'GAU',
 'GGA',
 'GAA',
 'UAU',
 'UUC',
 'ACC',
 'CUU',
 'CAG',
 'AUC',
 'CGU',
 'GGG',
 'CGU',
 'GAG',
 'CGC',
 'UUC',
 'GAG',
 'AUG',
 'UUC',
 'CGA',
 'GAG',
 'CUG',
 'AAU',
 'GAG',
 'GCC',
 'UUG',
 'GAA',
 'CUC',
 'AAG',
 'GAU',
 'GCC',
 'CAG',
 'GCU',
 'GGG',
 'AAG',
 'GAG',
 'CCA',
 'GGG',
 'GGG',
 'AGC',
 'AGG',
 'GCU',
 'CAC',
 'UCC',
 'AGC',
 'CAC',
 'CUG',
 'AAG',
 'UCC',
 'AAA',
 'AAG',
 'GGU',
 'CAG',
 'UCU',
 'ACC',
 'UCC',
 'CGC',
 'CAU',
 'AAA',
 'AAA',
 'CUC',
 'AUG',
 'UUC',
 'AAG',
 'ACA',
 'GAA',
 'GGG',
 'CCU',
 'GAC',
 'UCA',
 'GAC']

In [5]:
#Die RNA Sequenz wird in Codons geslicet und als Liste in p53_codons gespeichert.

In [6]:
# Alle möglichen Codons für tp53
mutated_p53 = ses.generate_codon_variations(p53_codons)
mutated_p53

,Original,Variation 1,Variation 2,Variation 3,Variation 4,Variation 5,Variation 6,Variation 7,Variation 8,Variation 9
0,AUG,UUG,GUG,CUG,AAG,AGG,ACG,AUA,AUU,AUC
1,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
2,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
3,CCG,ACG,UCG,GCG,CAG,CUG,CGG,CCA,CCU,CCC
4,CAG,AAG,UAG,GAG,CUG,CGG,CCG,CAA,CAU,CAC
...,...,...,...,...,...,...,...,...,...,...
388,GGG,AGG,UGG,CGG,GAG,GUG,GCG,GGA,GGU,GGC
389,CCU,ACU,UCU,GCU,CAU,CUU,CGU,CCA,CCG,CCC
390,GAC,AAC,UAC,CAC,GUC,GGC,GCC,GAA,GAU,GAG
391,UCA,ACA,GCA,CCA,UAA,UUA,UGA,UCU,UCG,UCC
392,GAC,AAC,UAC,CAC,GUC,GGC,GCC,GAA,GAU,GAG

In [7]:
# Übersetzen aller möglichen Codons
aa = ses.translate_codons_df(mutated_p53)
ses.prob_aa_position(0, aa)

0
I    0.3
L    0.2
V    0.1
K    0.1
R    0.1
T    0.1
Name: proportion, dtype: float64

In [95]:
##### Wichtig
## Function was updated on 26.06.23 -> slightly different parameters needed. Usage → see in codon.py
# Das DMS_score df soll in ein df umgewandelt werden, indem nur die single mutations drinstehen. In dieser Zelle probiere ich das erst einmal für eine Zeile, bevor ich über alle iteriere.

p53_var_frame_raw: pd.DataFrame = ses.translate_codons_df(ses.generate_codon_variations(ses.p53_codons_gia))
p53_var_frame = ses.clean_variation_matrix(p53_var_frame_raw)

gia_null_eto: pd.DataFrame = pd.read_csv('../DMS_data/P53_HUMAN_Giacomelli_NULL_Etoposide_2018.csv')
df = dc.min_max_norm(dc.df_transform(gia_null_eto).T)

sel_mut: pd.DataFrame = ses.select_smut(df, p53_var_frame).sort_index(axis=1)

sel_mut

,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.445662,0.339590,-0.896484,NaN,NaN,NaN,NaN,-0.479409,NaN,0.143952,-0.236035,NaN,NaN
1,0.010515,NaN,0.461640,NaN,NaN,-0.194648,NaN,NaN,0.530006,NaN,NaN,NaN,NaN,0.320817,NaN,NaN,NaN,0.291224,NaN,NaN
2,0.096724,NaN,0.478411,NaN,NaN,-0.233738,NaN,NaN,0.515066,NaN,NaN,NaN,NaN,0.350823,NaN,NaN,NaN,-0.029022,NaN,NaN
3,-0.336677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.298945,NaN,NaN,NaN,0.507619,0.398395,0.358706,0.470961,NaN,NaN,NaN
4,NaN,NaN,NaN,0.050641,NaN,NaN,0.301647,NaN,0.628535,0.406995,NaN,NaN,0.142345,NaN,0.175909,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.681923,NaN,NaN,0.198170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.595348,NaN,NaN,0.464735,0.555301,NaN
389,0.816095,NaN,NaN,NaN,NaN,NaN,0.432709,NaN,NaN,0.598105,NaN,NaN,NaN,NaN,0.777285,0.447437,0.752204,NaN,NaN,NaN
390,0.624231,NaN,NaN,0.411281,NaN,0.606592,0.537711,NaN,NaN,NaN,NaN,0.555494,NaN,NaN,NaN,NaN,NaN,0.837795,NaN,0.583616
391,0.409650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.507320,NaN,NaN,0.570893,NaN,NaN,NaN,0.698685,NaN,NaN,NaN
392,0.666104,NaN,NaN,0.269181,NaN,0.641101,0.583339,NaN,NaN,NaN,NaN,0.504888,NaN,NaN,NaN,NaN,NaN,0.790607,NaN,0.549047

In [102]:
dms_scores = dc.norm(dc.df_split(gia_null_eto)).reindex_like(sel_mut)
dms_scores

,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
0,-0.168502,-0.866931,0.598737,0.478836,0.415549,-0.160632,-0.852209,-0.445662,0.339590,-0.896484,NaN,-0.697852,-0.746822,-0.845914,-0.479409,-1.000000,0.143952,-0.236035,-0.786962,-0.350732
1,0.010515,0.004980,0.461640,NaN,0.302028,-0.194648,0.090028,0.282427,0.530006,0.291199,0.184981,0.321704,0.428349,0.320817,0.350754,0.165773,0.355083,0.291224,0.045728,0.223568
2,0.096724,0.190582,0.478411,NaN,0.099391,-0.233738,0.159003,0.129061,0.515066,0.221501,0.083015,0.325079,0.266745,0.350823,-0.158257,0.254825,0.479998,-0.029022,0.241108,0.346992
3,-0.336677,0.124400,0.558168,0.289187,0.238268,0.472493,0.242619,0.456262,0.610571,0.298945,0.531355,0.517132,NaN,0.507619,0.398395,0.358706,0.470961,0.248474,0.316508,0.472928
4,0.023911,0.151089,0.621464,0.050641,0.256079,0.551513,0.301647,0.361864,0.628535,0.406995,0.312664,0.344991,0.142345,NaN,0.175909,0.471829,0.559920,0.241726,0.204634,0.432133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.681923,0.676325,0.761085,0.198170,0.479534,NaN,0.572631,0.744037,0.731020,0.798751,0.857457,0.530929,0.756395,0.889002,0.595348,0.562197,0.914707,0.464735,0.555301,0.694380
389,0.816095,0.513891,0.804582,0.388492,0.830233,0.499956,0.432709,0.847820,0.920170,0.598105,0.704719,0.767221,NaN,0.720545,0.777285,0.447437,0.752204,1.000000,0.689286,0.416601
390,0.624231,0.588468,NaN,0.411281,0.962123,0.606592,0.537711,0.892587,0.854949,0.801254,0.767150,0.555494,0.726009,0.635644,0.785052,0.895229,0.781827,0.837795,0.913509,0.583616
391,0.409650,0.736250,0.966401,0.624584,0.741360,0.991717,0.651107,0.759764,0.836548,0.507320,0.745848,1.000000,0.570893,0.793241,0.813874,NaN,0.698685,0.850098,0.878250,0.494480
392,0.666104,0.246667,NaN,0.269181,0.884705,0.641101,0.583339,0.992533,0.779423,0.940878,0.706554,0.504888,1.000000,0.762616,0.914695,1.000000,0.935419,0.790607,0.911673,0.549047

In [103]:
dms_scores * sel_mut

,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.198615,0.115321,0.803683,NaN,NaN,NaN,NaN,0.229833,NaN,0.020722,0.055712,NaN,NaN
1,0.000111,NaN,0.213112,NaN,NaN,0.037888,NaN,NaN,0.280906,NaN,NaN,NaN,NaN,0.102923,NaN,NaN,NaN,0.084811,NaN,NaN
2,0.009355,NaN,0.228877,NaN,NaN,0.054634,NaN,NaN,0.265293,NaN,NaN,NaN,NaN,0.123077,NaN,NaN,NaN,0.000842,NaN,NaN
3,0.113351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.089368,NaN,NaN,NaN,0.257677,0.158719,0.12867,0.221804,NaN,NaN,NaN
4,NaN,NaN,NaN,0.002565,NaN,NaN,0.090991,NaN,0.395056,0.165645,NaN,NaN,0.020262,NaN,0.030944,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.465020,NaN,NaN,0.039271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.354440,NaN,NaN,0.215979,0.308359,NaN
389,0.666011,NaN,NaN,NaN,NaN,NaN,0.187237,NaN,NaN,0.357730,NaN,NaN,NaN,NaN,0.604173,0.20020,0.565811,NaN,NaN,NaN
390,0.389664,NaN,NaN,0.169152,NaN,0.367954,0.289133,NaN,NaN,NaN,NaN,0.308574,NaN,NaN,NaN,NaN,NaN,0.701901,NaN,0.340608
391,0.167813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257374,NaN,NaN,0.325918,NaN,NaN,NaN,0.488161,NaN,NaN,NaN
392,0.443695,NaN,NaN,0.072459,NaN,0.411011,0.340284,NaN,NaN,NaN,NaN,0.254912,NaN,NaN,NaN,NaN,NaN,0.625060,NaN,0.301453

In [106]:
ses.dms_smut(ses.p53_codons_gia, gia_null_eto)

AttributeError: module 'severity_score' has no attribute 'dms_smut'

In [11]:
#Updating pre-existing functions to eliminate Bio package

In [12]:
def translate_codon_to_aa(codon):
    codon_table = {
        'UUU': 'F', 'UUC': 'F', 'UUA': 'L', 'UUG': 'L',
        'CUU': 'L', 'CUC': 'L', 'CUA': 'L', 'CUG': 'L',
        'AUU': 'I', 'AUC': 'I', 'AUA': 'I', 'AUG': 'M',
        'GUU': 'V', 'GUC': 'V', 'GUA': 'V', 'GUG': 'V',
        'UCU': 'S', 'UCC': 'S', 'UCA': 'S', 'UCG': 'S',
        'CCU': 'P', 'CCC': 'P', 'CCA': 'P', 'CCG': 'P',
        'ACU': 'T', 'ACC': 'T', 'ACA': 'T', 'ACG': 'T',
        'GCU': 'A', 'GCC': 'A', 'GCA': 'A', 'GCG': 'A',
        'UAU': 'Y', 'UAC': 'Y', 'UAA': '*', 'UAG': '*',
        'CAU': 'H', 'CAC': 'H', 'CAA': 'Q', 'CAG': 'Q',
        'AAU': 'N', 'AAC': 'N', 'AAA': 'K', 'AAG': 'K',
        'GAU': 'D', 'GAC': 'D', 'GAA': 'E', 'GAG': 'E',
        'UGU': 'C', 'UGC': 'C', 'UGA': '*', 'UGG': 'W',
        'CGU': 'R', 'CGC': 'R', 'CGA': 'R', 'CGG': 'R',
        'AGU': 'S', 'AGC': 'S', 'AGA': 'R', 'AGG': 'R',
        'GGU': 'G', 'GGC': 'G', 'GGA': 'G', 'GGG': 'G'
    }

    if codon in codon_table:
        return codon_table[codon]
    else:
        return 'Unknown'

In [13]:
def translate_codons_df(df: pd.DataFrame) -> pd.DataFrame:
    translated_df = pd.DataFrame()

    for column in df.columns:
        codons = df[column]
        amino_acids = [translate_codon_to_aa(codon) for codon in codons]
        #amino_acids = [seq.translate() for seq in seqs]
        translated_df[column] = amino_acids

    return translated_df

In [14]:
#Test to see if it worked
translate_codons_df(mutated_p53)

,Original,Variation 1,Variation 2,Variation 3,Variation 4,Variation 5,Variation 6,Variation 7,Variation 8,Variation 9
0,M,L,V,L,K,R,T,I,I,I
1,E,K,*,Q,V,G,A,E,D,D
2,E,K,*,Q,V,G,A,E,D,D
3,P,T,S,A,Q,L,R,P,P,P
4,Q,K,*,E,L,R,P,Q,H,H
...,...,...,...,...,...,...,...,...,...,...
388,G,R,W,R,E,V,A,G,G,G
389,P,T,S,A,H,L,R,P,P,P
390,D,N,Y,H,V,G,A,E,D,E
391,S,T,A,P,*,L,*,S,S,S
392,D,N,Y,H,V,G,A,E,D,E

In [15]:
#Test for the aminoacid sequence obtained from the DNA sequence online
amino_acids_string = ses.translate_codons_to_string(p53_codons)

print(amino_acids_string)

# BLASTing shows: DNA sequence encodes the AA sequence which is the one the Kotler dataset uses as a reference!

MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLMLSPDDIEQWFTEDPGPDEAPRMPEAAPPVAPAPAAPTPAAPAPAPSWPLSSSVPSQKTYQGSYGFRLGFLHSGTAKSVTCTYSPALNKMFCQLAKTCPVQLWVDSTPPPGTRVRAMAIYKQSQHMTEVVRRCPHHERCSDSDGLAPPQHLIRVEGNLRVEYLDDRNTFRHSVVVPYEPPEVGSDCTTIHYNYMCNSSCMGGMNRRPILTIITLEDSSGNLLGRNSFEVRVCACPGRDRRTEEENLRKKGEPHHELPPGSTKRALPNNTSSSPQPKKKPLDGEYFTLQIRGRERFEMFRELNEALELKDAQAGKEPGGSRAHSSHLKSKKGQSTSRHKKLMFKTEGPDSD