In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import data_cleanup as dc
import data_exploration as de
from Bio.Seq import Seq
import severity_score as ses



#codons = ['AAA', 'AAC', 'AAG', 'AAU', 'ACA', 'ACC', 'ACG', 'ACU', 'AGA', 'AGC', 'AGG', 'AGU', 'AUA', 'AUC', 'AUG', 'AUU', 'CAA', 'CAC', 'CAG', 'CAU', 'CCA', 'CCC', 'CCG', 'CCU', 'CGA', 'CGC', 'CGG', 'CGU', 'CUA', 'CUC', 'CUG', 'CUU', 'GAA', 'GAC', 'GAG', 'GAU', 'GCA', 'GCC', 'GCG', 'GCU', 'GGA', 'GGC', 'GGG', 'GGU', 'GUA', 'GUC', 'GUG', 'GUU', 'UAA', 'UAC', 'UAG', 'UAU', 'UCA', 'UCC', 'UCG', 'UCU', 'UGA', 'UGC', 'UGG', 'UGU', 'UUA', 'UUC', 'UUG', 'UUU']

# Create an empty dataframe with the custom row and column names
#codons_codons = pd.DataFrame(index=codons, columns=codons)

# Fill the dataframe
#for row_codon in codons:
    #for col_codon in codons:
        #differing_bases = sum(row_base != col_base for row_base, col_base in zip(row_codon, col_codon))
        #codons_codons.loc[row_codon, col_codon] = differing_bases

#codons_codons
#not used until now (20.6.)

In [8]:
#aacids = ['K', 'N', 'K', 'N', 'T', 'T', 'T', 'T', 'R', 'S', 'R', 'S', 'I', 'I', 'M', 'I', 'Q', 'H', 'Q', 'H', 'P', 'P', 'P', 'P', 'R', 'R', 'R', 'R', 'L', 'L', 'L', 'L', 'E', 'D', 'E', 'D', 'A', 'A', 'A', 'A', 'G', 'G', 'G', 'G', 'V', 'V', 'V', 'V', 'STOP', 'Y', 'STOP', 'Y', 'S', 'S', 'S', 'S', 'STOP','L', 'F', 'L', 'C', 'W', 'C', 'L']

#codons_aacids = pd.DataFrame({'codons': codons, 'aacids': aacids })

#codons_aacids
#not used until now (20.6.)

In [9]:
dna_sequence = "ATGGAGGAGCCGCAGTCAGATCCTAGCGTCGAGCCCCCTCTGAGTCAGGAAACATTTTCAGACCTATGGAAACTACTTCCTGAAAACAACGTTCTGTCCCCCTTGCCGTCCCAAGCAATGGATGATTTGATGCTGTCCCCGGACGATATTGAACAATGGTTCACTGAAGACCCAGGTCCAGATGAAGCTCCCAGAATGCCAGAGGCTGCTCCCCCCGTGGCCCCTGCACCAGCAGCTCCTACACCGGCGGCCCCTGCACCAGCCCCCTCCTGGCCCCTGTCATCTTCTGTCCCTTCCCAGAAAACCTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTGGGACAGCCAAGTCTGTGACTTGCACGTACTCCCCTGCCCTCAACAAGATGTTTTGCCAACTGGCCAAGACCTGCCCTGTGCAGCTGTGGGTTGATTCCACACCCCCGCCCGGCACCCGCGTCCGCGCCATGGCCATCTACAAGCAGTCACAGCACATGACGGAGGTTGTGAGGCGCTGCCCCCACCATGAGCGCTGCTCAGATAGCGATGGTCTGGCCCCTCCTCAGCATCTTATCCGAGTGGAAGGAAATTTGCGTGTGGAGTATTTGGATGACAGAAACACTTTTCGACATAGTGTGGTGGTGCCCTATGAGCCGCCTGAGGTTGGCTCTGACTGTACCACCATCCACTACAACTACATGTGTAACAGTTCCTGCATGGGCGGCATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCAGTGGTAATCTACTGGGACGGAACAGCTTTGAGGTGCGTGTTTGTGCCTGTCCTGGGAGAGACCGGCGCACAGAGGAAGAGAATCTCCGCAAGAAAGGGGAGCCTCACCACGAGCTGCCCCCAGGGAGCACTAAGCGAGCACTGCCCAACAACACCAGCTCCTCTCCCCAGCCAAAGAAGAAACCACTGGATGGAGAATATTTCACCCTTCAGATCCGTGGGCGTGAGCGCTTCGAGATGTTCCGAGAGCTGAATGAGGCCTTGGAACTCAAGGATGCCCAGGCTGGGAAGGAGCCAGGGGGGAGCAGGGCTCACTCCAGCCACCTGAAGTCCAAAAAGGGTCAGTCTACCTCCCGCCATAAAAAACTCATGTTCAAGACAGAAGGGCCTGACTCAGAC"
rna_sequence = dna_sequence.replace("T", "U")

In [10]:
p53_codons = [rna_sequence[i:i+3] for i in range(0, len(rna_sequence), 3)]

p53_codons

['AUG',
 'GAG',
 'GAG',
 'CCG',
 'CAG',
 'UCA',
 'GAU',
 'CCU',
 'AGC',
 'GUC',
 'GAG',
 'CCC',
 'CCU',
 'CUG',
 'AGU',
 'CAG',
 'GAA',
 'ACA',
 'UUU',
 'UCA',
 'GAC',
 'CUA',
 'UGG',
 'AAA',
 'CUA',
 'CUU',
 'CCU',
 'GAA',
 'AAC',
 'AAC',
 'GUU',
 'CUG',
 'UCC',
 'CCC',
 'UUG',
 'CCG',
 'UCC',
 'CAA',
 'GCA',
 'AUG',
 'GAU',
 'GAU',
 'UUG',
 'AUG',
 'CUG',
 'UCC',
 'CCG',
 'GAC',
 'GAU',
 'AUU',
 'GAA',
 'CAA',
 'UGG',
 'UUC',
 'ACU',
 'GAA',
 'GAC',
 'CCA',
 'GGU',
 'CCA',
 'GAU',
 'GAA',
 'GCU',
 'CCC',
 'AGA',
 'AUG',
 'CCA',
 'GAG',
 'GCU',
 'GCU',
 'CCC',
 'CCC',
 'GUG',
 'GCC',
 'CCU',
 'GCA',
 'CCA',
 'GCA',
 'GCU',
 'CCU',
 'ACA',
 'CCG',
 'GCG',
 'GCC',
 'CCU',
 'GCA',
 'CCA',
 'GCC',
 'CCC',
 'UCC',
 'UGG',
 'CCC',
 'CUG',
 'UCA',
 'UCU',
 'UCU',
 'GUC',
 'CCU',
 'UCC',
 'CAG',
 'AAA',
 'ACC',
 'UAC',
 'CAG',
 'GGC',
 'AGC',
 'UAC',
 'GGU',
 'UUC',
 'CGU',
 'CUG',
 'GGC',
 'UUC',
 'UUG',
 'CAU',
 'UCU',
 'GGG',
 'ACA',
 'GCC',
 'AAG',
 'UCU',
 'GUG',
 'ACU',
 'UGC',
 'ACG',
 'UAC',
 'UCC',
 'CCU',
 'GCC',
 'CUC',
 'AAC',
 'AAG',
 'AUG',
 'UUU',
 'UGC',
 'CAA',
 'CUG',
 'GCC',
 'AAG',
 'ACC',
 'UGC',
 'CCU',
 'GUG',
 'CAG',
 'CUG',
 'UGG',
 'GUU',
 'GAU',
 'UCC',
 'ACA',
 'CCC',
 'CCG',
 'CCC',
 'GGC',
 'ACC',
 'CGC',
 'GUC',
 'CGC',
 'GCC',
 'AUG',
 'GCC',
 'AUC',
 'UAC',
 'AAG',
 'CAG',
 'UCA',
 'CAG',
 'CAC',
 'AUG',
 'ACG',
 'GAG',
 'GUU',
 'GUG',
 'AGG',
 'CGC',
 'UGC',
 'CCC',
 'CAC',
 'CAU',
 'GAG',
 'CGC',
 'UGC',
 'UCA',
 'GAU',
 'AGC',
 'GAU',
 'GGU',
 'CUG',
 'GCC',
 'CCU',
 'CCU',
 'CAG',
 'CAU',
 'CUU',
 'AUC',
 'CGA',
 'GUG',
 'GAA',
 'GGA',
 'AAU',
 'UUG',
 'CGU',
 'GUG',
 'GAG',
 'UAU',
 'UUG',
 'GAU',
 'GAC',
 'AGA',
 'AAC',
 'ACU',
 'UUU',
 'CGA',
 'CAU',
 'AGU',
 'GUG',
 'GUG',
 'GUG',
 'CCC',
 'UAU',
 'GAG',
 'CCG',
 'CCU',
 'GAG',
 'GUU',
 'GGC',
 'UCU',
 'GAC',
 'UGU',
 'ACC',
 'ACC',
 'AUC',
 'CAC',
 'UAC',
 'AAC',
 'UAC',
 'AUG',
 'UGU',
 'AAC',
 'AGU',
 'UCC',
 'UGC',
 'AUG',
 'GGC',
 'GGC',
 'AUG',
 'AAC',
 'CGG',
 'AGG',
 'CCC',
 'AUC',
 'CUC',
 'ACC',
 'AUC',
 'AUC',
 'ACA',
 'CUG',
 'GAA',
 'GAC',
 'UCC',
 'AGU',
 'GGU',
 'AAU',
 'CUA',
 'CUG',
 'GGA',
 'CGG',
 'AAC',
 'AGC',
 'UUU',
 'GAG',
 'GUG',
 'CGU',
 'GUU',
 'UGU',
 'GCC',
 'UGU',
 'CCU',
 'GGG',
 'AGA',
 'GAC',
 'CGG',
 'CGC',
 'ACA',
 'GAG',
 'GAA',
 'GAG',
 'AAU',
 'CUC',
 'CGC',
 'AAG',
 'AAA',
 'GGG',
 'GAG',
 'CCU',
 'CAC',
 'CAC',
 'GAG',
 'CUG',
 'CCC',
 'CCA',
 'GGG',
 'AGC',
 'ACU',
 'AAG',
 'CGA',
 'GCA',
 'CUG',
 'CCC',
 'AAC',
 'AAC',
 'ACC',
 'AGC',
 'UCC',
 'UCU',
 'CCC',
 'CAG',
 'CCA',
 'AAG',
 'AAG',
 'AAA',
 'CCA',
 'CUG',
 'GAU',
 'GGA',
 'GAA',
 'UAU',
 'UUC',
 'ACC',
 'CUU',
 'CAG',
 'AUC',
 'CGU',
 'GGG',
 'CGU',
 'GAG',
 'CGC',
 'UUC',
 'GAG',
 'AUG',
 'UUC',
 'CGA',
 'GAG',
 'CUG',
 'AAU',
 'GAG',
 'GCC',
 'UUG',
 'GAA',
 'CUC',
 'AAG',
 'GAU',
 'GCC',
 'CAG',
 'GCU',
 'GGG',
 'AAG',
 'GAG',
 'CCA',
 'GGG',
 'GGG',
 'AGC',
 'AGG',
 'GCU',
 'CAC',
 'UCC',
 'AGC',
 'CAC',
 'CUG',
 'AAG',
 'UCC',
 'AAA',
 'AAG',
 'GGU',
 'CAG',
 'UCU',
 'ACC',
 'UCC',
 'CGC',
 'CAU',
 'AAA',
 'AAA',
 'CUC',
 'AUG',
 'UUC',
 'AAG',
 'ACA',
 'GAA',
 'GGG',
 'CCU',
 'GAC',
 'UCA',
 'GAC']

In [11]:
#Die RNA Sequenz wird in Codons geslicet und als Liste in p53_codons gespeichert.

In [12]:
# Alle möglichen Codons für tp53
mutated_p53 = ses.generate_codon_variations(p53_codons)
mutated_p53

,Original,Variation 1,Variation 2,Variation 3,Variation 4,Variation 5,Variation 6,Variation 7,Variation 8,Variation 9
0,AUG,UUG,GUG,CUG,AAG,AGG,ACG,AUA,AUU,AUC
1,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
2,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
3,CCG,ACG,UCG,GCG,CAG,CUG,CGG,CCA,CCU,CCC
4,CAG,AAG,UAG,GAG,CUG,CGG,CCG,CAA,CAU,CAC
...,...,...,...,...,...,...,...,...,...,...
388,GGG,AGG,UGG,CGG,GAG,GUG,GCG,GGA,GGU,GGC
389,CCU,ACU,UCU,GCU,CAU,CUU,CGU,CCA,CCG,CCC
390,GAC,AAC,UAC,CAC,GUC,GGC,GCC,GAA,GAU,GAG
391,UCA,ACA,GCA,CCA,UAA,UUA,UGA,UCU,UCG,UCC
392,GAC,AAC,UAC,CAC,GUC,GGC,GCC,GAA,GAU,GAG

In [13]:
# Übersetzen aller möglichen Codons
aa = ses.translate_codons_df(mutated_p53)
ses.prob_as_position(0, aa)

I    0.3
L    0.2
V    0.1
K    0.1
R    0.1
T    0.1
Name: 0, dtype: float64

In [4]:
##### Wichtig
## Function was updated on 26.06.23 -> slightly different parameters needed. Usage → see in codon.py
# Das DMS_score df soll in ein df umgewandelt werden, indem nur die single mutations drinstehen. In dieser Zelle probiere ich das erst einmal für eine Zeile, bevor ich über alle iteriere.

p53_var_frame_raw: pd.DataFrame = ses.translate_codons_df(ses.generate_codon_variations(ses.p53_codons_gia))
p53_var_frame = ses.clean_variation_matrix(p53_var_frame_raw)

gia_null_eto: pd.DataFrame = pd.read_csv('../DMS_data/P53_HUMAN_Giacomelli_NULL_Etoposide_2018.csv')
df = dc.min_max_norm(dc.df_transform(gia_null_eto).T)

sel_mut: pd.DataFrame = ses.select_smut(df, p53_var_frame)

# #load DMS_scores
# gia_null_eto: pd.DataFrame = pd.read_csv('../DMS_data/P53_HUMAN_Giacomelli_NULL_Etoposide_2018.csv')
# df = dc.df_transform_inverse(gia_null_eto)
#
# #modify "aa", so that all "*" values are eliminated and so that the original aminoacid is cut off
# aa_cleaned = aa.replace('*', np.nan).iloc[:, 1:]
#
#
# #position
# x=0
#
# # get single mutated AAs
# mut_per_pos = de.prob_as_position(x,aa_cleaned).index
# # mut_per_pos
# # select single mutations out of all DMS_score mutations
# selected_columns = df.loc[x+1,mut_per_pos]
#
# # selected_columns

In [5]:
sel_mut

,I,L,V,K,R,T,D,Q,G,A,S,H,E,P,N,Y,C,F,M,W
0,-0.445662,-0.896484,-0.236035,0.339590,-0.479409,0.143952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.291224,0.530006,NaN,NaN,0.461640,0.320817,-0.194648,0.010515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,-0.029022,0.515066,NaN,NaN,0.478411,0.350823,-0.233738,0.096724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0.298945,NaN,NaN,0.398395,0.470961,NaN,0.507619,NaN,-0.336677,0.358706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0.406995,NaN,0.628535,0.175909,NaN,NaN,NaN,NaN,NaN,NaN,0.301647,0.050641,0.142345,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,NaN,NaN,0.464735,NaN,0.595348,NaN,NaN,NaN,NaN,0.681923,NaN,NaN,0.198170,NaN,NaN,NaN,NaN,NaN,NaN,0.555301
389,NaN,0.598105,NaN,NaN,0.777285,0.752204,NaN,NaN,NaN,0.816095,0.447437,0.432709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,NaN,NaN,0.837795,NaN,NaN,NaN,NaN,NaN,0.606592,0.624231,NaN,0.537711,0.411281,NaN,0.555494,0.583616,NaN,NaN,NaN,NaN
391,NaN,0.507320,NaN,NaN,NaN,0.698685,NaN,NaN,NaN,0.409650,NaN,NaN,NaN,0.570893,NaN,NaN,NaN,NaN,NaN,NaN
392,NaN,NaN,0.790607,NaN,NaN,NaN,NaN,NaN,0.641101,0.666104,NaN,0.583339,0.269181,NaN,0.504888,0.549047,NaN,NaN,NaN,NaN

In [16]:
# Jetzt will ich die DMS_scores der single mutations in diesem df mit den Mutationswahrscheinlichkeiten multiplizieren.
ses.prob_smut(sel_mut,p53_var_frame)

,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W,Y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.133699,0.033959,-0.179297,NaN,NaN,NaN,NaN,-0.047941,NaN,0.014395,-0.023603,NaN,NaN
1,0.001168,NaN,0.102587,NaN,NaN,-0.021628,NaN,NaN,0.058890,NaN,NaN,NaN,NaN,0.035646,NaN,NaN,NaN,0.032358,NaN,NaN
2,0.010747,NaN,0.106314,NaN,NaN,-0.025971,NaN,NaN,0.057230,NaN,NaN,NaN,NaN,0.038980,NaN,NaN,NaN,-0.003225,NaN,NaN
3,-0.033668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.029894,NaN,NaN,NaN,0.050762,0.039840,0.035871,0.047096,NaN,NaN,NaN
4,NaN,NaN,NaN,0.005627,NaN,NaN,0.067033,NaN,0.069837,0.045222,NaN,NaN,0.015816,NaN,0.019545,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.068192,NaN,NaN,0.019817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.119070,NaN,NaN,0.046474,0.05553,NaN
389,0.081609,NaN,NaN,NaN,NaN,NaN,0.043271,NaN,NaN,0.059811,NaN,NaN,NaN,NaN,0.077729,0.044744,0.075220,NaN,NaN,NaN
390,0.062423,NaN,NaN,0.082256,NaN,0.060659,0.053771,NaN,NaN,NaN,NaN,0.055549,NaN,NaN,NaN,NaN,NaN,0.083780,NaN,0.058362
391,0.051206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.063415,NaN,NaN,0.071362,NaN,NaN,NaN,0.087336,NaN,NaN,NaN
392,0.066610,NaN,NaN,0.053836,NaN,0.064110,0.058334,NaN,NaN,NaN,NaN,0.050489,NaN,NaN,NaN,NaN,NaN,0.079061,NaN,0.054905

In [17]:
#Updating pre-existing functions to eliminate Bio package

In [32]:
def translate_codon_to_aa(codon):
    codon_table = {
        'UUU': 'F', 'UUC': 'F', 'UUA': 'L', 'UUG': 'L',
        'CUU': 'L', 'CUC': 'L', 'CUA': 'L', 'CUG': 'L',
        'AUU': 'I', 'AUC': 'I', 'AUA': 'I', 'AUG': 'M',
        'GUU': 'V', 'GUC': 'V', 'GUA': 'V', 'GUG': 'V',
        'UCU': 'S', 'UCC': 'S', 'UCA': 'S', 'UCG': 'S',
        'CCU': 'P', 'CCC': 'P', 'CCA': 'P', 'CCG': 'P',
        'ACU': 'T', 'ACC': 'T', 'ACA': 'T', 'ACG': 'T',
        'GCU': 'A', 'GCC': 'A', 'GCA': 'A', 'GCG': 'A',
        'UAU': 'Y', 'UAC': 'Y', 'UAA': '*', 'UAG': '*',
        'CAU': 'H', 'CAC': 'H', 'CAA': 'Q', 'CAG': 'Q',
        'AAU': 'N', 'AAC': 'N', 'AAA': 'K', 'AAG': 'K',
        'GAU': 'D', 'GAC': 'D', 'GAA': 'E', 'GAG': 'E',
        'UGU': 'C', 'UGC': 'C', 'UGA': '*', 'UGG': 'W',
        'CGU': 'R', 'CGC': 'R', 'CGA': 'R', 'CGG': 'R',
        'AGU': 'S', 'AGC': 'S', 'AGA': 'R', 'AGG': 'R',
        'GGU': 'G', 'GGC': 'G', 'GGA': 'G', 'GGG': 'G'
    }

    if codon in codon_table:
        return codon_table[codon]
    else:
        return 'Unknown'

In [35]:
def translate_codons_df(df: pd.DataFrame) -> pd.DataFrame:
    translated_df = pd.DataFrame()

    for column in df.columns:
        codons = df[column]
        amino_acids = [translate_codon_to_aa(codon) for codon in codons]
        #amino_acids = [seq.translate() for seq in seqs]
        translated_df[column] = amino_acids

    return translated_df

In [42]:
#Test to see if it worked
translate_codons_df(mutated_p53)

,Original,Variation 1,Variation 2,Variation 3,Variation 4,Variation 5,Variation 6,Variation 7,Variation 8,Variation 9
0,M,L,V,L,K,R,T,I,I,I
1,E,K,*,Q,V,G,A,E,D,D
2,E,K,*,Q,V,G,A,E,D,D
3,P,T,S,A,Q,L,R,P,P,P
4,Q,K,*,E,L,R,P,Q,H,H
...,...,...,...,...,...,...,...,...,...,...
388,G,R,W,R,E,V,A,G,G,G
389,P,T,S,A,H,L,R,P,P,P
390,D,N,Y,H,V,G,A,E,D,E
391,S,T,A,P,*,L,*,S,S,S
392,D,N,Y,H,V,G,A,E,D,E

In [41]:
#Test for the aminoacid sequence obtained from the DNA sequence online
amino_acids_string = ses.translate_codons_to_string(p53_codons)

print(amino_acids_string)

# BLASTing shows: DNA sequence encodes the AA sequence which is the one the Kotler dataset uses as a reference!

MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLMLSPDDIEQWFTEDPGPDEAPRMPEAAPPVAPAPAAPTPAAPAPAPSWPLSSSVPSQKTYQGSYGFRLGFLHSGTAKSVTCTYSPALNKMFCQLAKTCPVQLWVDSTPPPGTRVRAMAIYKQSQHMTEVVRRCPHHERCSDSDGLAPPQHLIRVEGNLRVEYLDDRNTFRHSVVVPYEPPEVGSDCTTIHYNYMCNSSCMGGMNRRPILTIITLEDSSGNLLGRNSFEVRVCACPGRDRRTEEENLRKKGEPHHELPPGSTKRALPNNTSSSPQPKKKPLDGEYFTLQIRGRERFEMFRELNEALELKDAQAGKEPGGSRAHSSHLKSKKGQSTSRHKKLMFKTEGPDSD