In [1]:

import pandas as pd
import numpy as np

codons = ['AAA', 'AAC', 'AAG', 'AAU', 'ACA', 'ACC', 'ACG', 'ACU', 'AGA', 'AGC', 'AGG', 'AGU', 'AUA', 'AUC', 'AUG', 'AUU', 'CAA', 'CAC', 'CAG', 'CAU', 'CCA', 'CCC', 'CCG', 'CCU', 'CGA', 'CGC', 'CGG', 'CGU', 'CUA', 'CUC', 'CUG', 'CUU', 'GAA', 'GAC', 'GAG', 'GAU', 'GCA', 'GCC', 'GCG', 'GCU', 'GGA', 'GGC', 'GGG', 'GGU', 'GUA', 'GUC', 'GUG', 'GUU', 'UAA', 'UAC', 'UAG', 'UAU', 'UCA', 'UCC', 'UCG', 'UCU', 'UGA', 'UGC', 'UGG', 'UGU', 'UUA', 'UUC', 'UUG', 'UUU']

# Create an empty dataframe with the custom row and column names
codons_codons = pd.DataFrame(index=codons, columns=codons)

# Fill the dataframe
for row_codon in codons:
    for col_codon in codons:
        differing_bases = sum(row_base != col_base for row_base, col_base in zip(row_codon, col_codon))
        codons_codons.loc[row_codon, col_codon] = differing_bases

codons_codons

,AAA,AAC,AAG,AAU,ACA,ACC,ACG,ACU,AGA,AGC,...,UCG,UCU,UGA,UGC,UGG,UGU,UUA,UUC,UUG,UUU
AAA,0,1,1,1,1,2,2,2,1,2,...,3,3,2,3,3,3,2,3,3,3
AAC,1,0,1,1,2,1,2,2,2,1,...,3,3,3,2,3,3,3,2,3,3
AAG,1,1,0,1,2,2,1,2,2,2,...,2,3,3,3,2,3,3,3,2,3
AAU,1,1,1,0,2,2,2,1,2,2,...,3,2,3,3,3,2,3,3,3,2
ACA,1,2,2,2,0,1,1,1,1,2,...,2,2,2,3,3,3,2,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UGU,3,3,3,2,3,3,3,2,2,2,...,2,1,1,1,1,0,2,2,2,1
UUA,2,3,3,3,2,3,3,3,2,3,...,2,2,1,2,2,2,0,1,1,1
UUC,3,2,3,3,3,2,3,3,3,2,...,2,2,2,1,2,2,1,0,1,1
UUG,3,3,2,3,3,3,2,3,3,3,...,1,2,2,2,1,2,1,1,0,1
UUU,3,3,3,2,3,3,3,2,3,3,...,2,1,2,2,2,1,1,1,1,0

In [3]:
aacids = ['K', 'N', 'K', 'N', 'T', 'T', 'T', 'T', 'R', 'S', 'R', 'S', 'I', 'I', 'M', 'I', 'Q', 'H', 'Q', 'H', 'P', 'P', 'P', 'P', 'R', 'R', 'R', 'R', 'L', 'L', 'L', 'L', 'E', 'D', 'E', 'D', 'A', 'A', 'A', 'A', 'G', 'G', 'G', 'G', 'V', 'V', 'V', 'V', 'STOP', 'Y', 'STOP', 'Y', 'S', 'S', 'S', 'S', 'STOP','L', 'F', 'L', 'C', 'W', 'C', 'L']

codons_aacids = pd.DataFrame({'codons': codons, 'aacids': aacids })
print(codons_aacids)

   codons aacids
0     AAA      K
1     AAC      N
2     AAG      K
3     AAU      N
4     ACA      T
..    ...    ...
59    UGU      L
60    UUA      C
61    UUC      W
62    UUG      C
63    UUU      L

[64 rows x 2 columns]

In [4]:
dna_sequence = "ATGGAGGAGCCGCAGTCAGATCCTAGCGTCGAGCCCCCTCTGAGTCAGGAAACATTTTCAGACCTATGGAAACTACTTCCTGAAAACAACGTTCTGTCCCCCTTGCCGTCCCAAGCAATGGATGATTTGATGCTGTCCCCGGACGATATTGAACAATGGTTCACTGAAGACCCAGGTCCAGATGAAGCTCCCAGAATGCCAGAGGCTGCTCCCCCCGTGGCCCCTGCACCAGCAGCTCCTACACCGGCGGCCCCTGCACCAGCCCCCTCCTGGCCCCTGTCATCTTCTGTCCCTTCCCAGAAAACCTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTGGGACAGCCAAGTCTGTGACTTGCACGTACTCCCCTGCCCTCAACAAGATGTTTTGCCAACTGGCCAAGACCTGCCCTGTGCAGCTGTGGGTTGATTCCACACCCCCGCCCGGCACCCGCGTCCGCGCCATGGCCATCTACAAGCAGTCACAGCACATGACGGAGGTTGTGAGGCGCTGCCCCCACCATGAGCGCTGCTCAGATAGCGATGGTCTGGCCCCTCCTCAGCATCTTATCCGAGTGGAAGGAAATTTGCGTGTGGAGTATTTGGATGACAGAAACACTTTTCGACATAGTGTGGTGGTGCCCTATGAGCCGCCTGAGGTTGGCTCTGACTGTACCACCATCCACTACAACTACATGTGTAACAGTTCCTGCATGGGCGGCATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCAGTGGTAATCTACTGGGACGGAACAGCTTTGAGGTGCGTGTTTGTGCCTGTCCTGGGAGAGACCGGCGCACAGAGGAAGAGAATCTCCGCAAGAAAGGGGAGCCTCACCACGAGCTGCCCCCAGGGAGCACTAAGCGAGCACTGCCCAACAACACCAGCTCCTCTCCCCAGCCAAAGAAGAAACCACTGGATGGAGAATATTTCACCCTTCAGATCCGTGGGCGTGAGCGCTTCGAGATGTTCCGAGAGCTGAATGAGGCCTTGGAACTCAAGGATGCCCAGGCTGGGAAGGAGCCAGGGGGGAGCAGGGCTCACTCCAGCCACCTGAAGTCCAAAAAGGGTCAGTCTACCTCCCGCCATAAAAAACTCATGTTCAAGACAGAAGGGCCTGACTCAGAC"
rna_sequence = dna_sequence.replace("T", "U")

In [5]:
p53_codons = [rna_sequence[i:i+3] for i in range(0, len(rna_sequence), 3)]

print(p53_codons)

['AUG', 'GAG', 'GAG', 'CCG', 'CAG', 'UCA', 'GAU', 'CCU', 'AGC', 'GUC', 'GAG', 'CCC', 'CCU', 'CUG', 'AGU', 'CAG', 'GAA', 'ACA', 'UUU', 'UCA', 'GAC', 'CUA', 'UGG', 'AAA', 'CUA', 'CUU', 'CCU', 'GAA', 'AAC', 'AAC', 'GUU', 'CUG', 'UCC', 'CCC', 'UUG', 'CCG', 'UCC', 'CAA', 'GCA', 'AUG', 'GAU', 'GAU', 'UUG', 'AUG', 'CUG', 'UCC', 'CCG', 'GAC', 'GAU', 'AUU', 'GAA', 'CAA', 'UGG', 'UUC', 'ACU', 'GAA', 'GAC', 'CCA', 'GGU', 'CCA', 'GAU', 'GAA', 'GCU', 'CCC', 'AGA', 'AUG', 'CCA', 'GAG', 'GCU', 'GCU', 'CCC', 'CCC', 'GUG', 'GCC', 'CCU', 'GCA', 'CCA', 'GCA', 'GCU', 'CCU', 'ACA', 'CCG', 'GCG', 'GCC', 'CCU', 'GCA', 'CCA', 'GCC', 'CCC', 'UCC', 'UGG', 'CCC', 'CUG', 'UCA', 'UCU', 'UCU', 'GUC', 'CCU', 'UCC', 'CAG', 'AAA', 'ACC', 'UAC', 'CAG', 'GGC', 'AGC', 'UAC', 'GGU', 'UUC', 'CGU', 'CUG', 'GGC', 'UUC', 'UUG', 'CAU', 'UCU', 'GGG', 'ACA', 'GCC', 'AAG', 'UCU', 'GUG', 'ACU', 'UGC', 'ACG', 'UAC', 'UCC', 'CCU', 'GCC', 'CUC', 'AAC', 'AAG', 'AUG', 'UUU', 'UGC', 'CAA', 'CUG', 'GCC', 'AAG', 'ACC', 'UGC', 'CCU', 'GUG', 'CAG', 'CUG', 'UGG', 'GUU', 'GAU', 'UCC', 'ACA', 'CCC', 'CCG', 'CCC', 'GGC', 'ACC', 'CGC', 'GUC', 'CGC', 'GCC', 'AUG', 'GCC', 'AUC', 'UAC', 'AAG', 'CAG', 'UCA', 'CAG', 'CAC', 'AUG', 'ACG', 'GAG', 'GUU', 'GUG', 'AGG', 'CGC', 'UGC', 'CCC', 'CAC', 'CAU', 'GAG', 'CGC', 'UGC', 'UCA', 'GAU', 'AGC', 'GAU', 'GGU', 'CUG', 'GCC', 'CCU', 'CCU', 'CAG', 'CAU', 'CUU', 'AUC', 'CGA', 'GUG', 'GAA', 'GGA', 'AAU', 'UUG', 'CGU', 'GUG', 'GAG', 'UAU', 'UUG', 'GAU', 'GAC', 'AGA', 'AAC', 'ACU', 'UUU', 'CGA', 'CAU', 'AGU', 'GUG', 'GUG', 'GUG', 'CCC', 'UAU', 'GAG', 'CCG', 'CCU', 'GAG', 'GUU', 'GGC', 'UCU', 'GAC', 'UGU', 'ACC', 'ACC', 'AUC', 'CAC', 'UAC', 'AAC', 'UAC', 'AUG', 'UGU', 'AAC', 'AGU', 'UCC', 'UGC', 'AUG', 'GGC', 'GGC', 'AUG', 'AAC', 'CGG', 'AGG', 'CCC', 'AUC', 'CUC', 'ACC', 'AUC', 'AUC', 'ACA', 'CUG', 'GAA', 'GAC', 'UCC', 'AGU', 'GGU', 'AAU', 'CUA', 'CUG', 'GGA', 'CGG', 'AAC', 'AGC', 'UUU', 'GAG', 'GUG', 'CGU', 'GUU', 'UGU', 'GCC', 'UGU', 'CCU', 'GGG', 'AGA', 'GAC', 'CGG', 'CGC', 'ACA', 'GAG', 'GAA', 'GAG', 'AAU', 'CUC', 'CGC', 'AAG', 'AAA', 'GGG', 'GAG', 'CCU', 'CAC', 'CAC', 'GAG', 'CUG', 'CCC', 'CCA', 'GGG', 'AGC', 'ACU', 'AAG', 'CGA', 'GCA', 'CUG', 'CCC', 'AAC', 'AAC', 'ACC', 'AGC', 'UCC', 'UCU', 'CCC', 'CAG', 'CCA', 'AAG', 'AAG', 'AAA', 'CCA', 'CUG', 'GAU', 'GGA', 'GAA', 'UAU', 'UUC', 'ACC', 'CUU', 'CAG', 'AUC', 'CGU', 'GGG', 'CGU', 'GAG', 'CGC', 'UUC', 'GAG', 'AUG', 'UUC', 'CGA', 'GAG', 'CUG', 'AAU', 'GAG', 'GCC', 'UUG', 'GAA', 'CUC', 'AAG', 'GAU', 'GCC', 'CAG', 'GCU', 'GGG', 'AAG', 'GAG', 'CCA', 'GGG', 'GGG', 'AGC', 'AGG', 'GCU', 'CAC', 'UCC', 'AGC', 'CAC', 'CUG', 'AAG', 'UCC', 'AAA', 'AAG', 'GGU', 'CAG', 'UCU', 'ACC', 'UCC', 'CGC', 'CAU', 'AAA', 'AAA', 'CUC', 'AUG', 'UUC', 'AAG', 'ACA', 'GAA', 'GGG', 'CCU', 'GAC', 'UCA', 'GAC']

In [8]:
#bis hier klappt alles. Ich slice die RNA Sequenz in Codons und speichere die Codons als liste in p53_codons. Ich wollte jetzt über diese Liste iterieren und dann jedes Codon mit dem 64x64 DataFrame abgleichen. So wollte ich für jedes p53 codon eine Liste mit Codons erstellen, die nur eine single mutation abweichen. Aus dieser Liste für jedes p53 codon könnte man dann mit Darios codons_aacid dataframe schauen, welche ASen dann nah dran sind für jedes Codon. Das hab ich aber nicht hinbekommen, unten sind meine Versuche...

In [7]:
#Funktion um alle Codons eines df zu übersetzen
import pandas as pd
from Bio.Seq import Seq

def translate_codons_df(df: pd.DataFrame) -> pd.DataFrame:
    translated_df = pd.DataFrame()

    for column in df.columns:
        codons = df[column]
        seqs = [Seq(codon) for codon in codons]
        amino_acids = [seq.translate() for seq in seqs]
        translated_df[column] = amino_acids

    return translated_df

In [12]:
#Ab hier versuche ich das ganze um alle Single-Mutations zu erweitern


def generate_codon_variations(codons: list) -> pd.DataFrame:
    variations: list = []
    for codon in codons:
        variation: list = [codon]
        for i in range(3):
            bases = ['A', 'U', 'G', 'C']
            bases.remove(codon[i])
            variation.extend([codon[:i] + base + codon[i+1:] for base in bases])
        variations.append(variation)

    df = pd.DataFrame(variations)
    df.columns = ['Original'] + [f'Variation {i+1}' for i in range(9)]
    return df

# Alle möglichen Codons für tp53
mutated_p53 = generate_codon_variations(p53_codons)
mutated_p53.head(20)

,Original,Variation 1,Variation 2,Variation 3,Variation 4,Variation 5,Variation 6,Variation 7,Variation 8,Variation 9
0,AUG,UUG,GUG,CUG,AAG,AGG,ACG,AUA,AUU,AUC
1,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
2,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
3,CCG,ACG,UCG,GCG,CAG,CUG,CGG,CCA,CCU,CCC
4,CAG,AAG,UAG,GAG,CUG,CGG,CCG,CAA,CAU,CAC
5,UCA,ACA,GCA,CCA,UAA,UUA,UGA,UCU,UCG,UCC
6,GAU,AAU,UAU,CAU,GUU,GGU,GCU,GAA,GAG,GAC
7,CCU,ACU,UCU,GCU,CAU,CUU,CGU,CCA,CCG,CCC
8,AGC,UGC,GGC,CGC,AAC,AUC,ACC,AGA,AGU,AGG
9,GUC,AUC,UUC,CUC,GAC,GGC,GCC,GUA,GUU,GUG
10,GAG,AAG,UAG,CAG,GUG,GGG,GCG,GAA,GAU,GAC
11,CCC,ACC,UCC,GCC,CAC,CUC,CGC,CCA,CCU,CCG
12,CCU,ACU,UCU,GCU,CAU,CUU,CGU,CCA,CCG,CCC
13,CUG,AUG,UUG,GUG,CAG,CGG,CCG,CUA,CUU,CUC
14,AGU,UGU,GGU,CGU,AAU,AUU,ACU,AGA,AGG,AGC
15,CAG,AAG,UAG,GAG,CUG,CGG,CCG,CAA,CAU,CAC
16,GAA,AAA,UAA,CAA,GUA,GGA,GCA,GAU,GAG,GAC
17,ACA,UCA,GCA,CCA,AAA,AUA,AGA,ACU,ACG,ACC
18,UUU,AUU,GUU,CUU,UAU,UGU,UCU,UUA,UUG,UUC
19,UCA,ACA,GCA,CCA,UAA,UUA,UGA,UCU,UCG,UCC

In [65]:
# Übersetzen aller möglichen Codons
aa = translate_codons_df(mutated_p53).astype(str)

# aa.head()
# aa['probability'] = aa.value_counts(normalize=True)


# for position in range(0, aa.shape[0]-1):
#     bb = aa.loc[position].value_counts(normalize=True)
#     for var in aa.loc[position]:
#         print(aa.loc[position])
#         var = [var, bb[var]]

def prob_as_position(position: int) -> pd.Series:
    """Function returning the probability for each AMS, resulting from a single mutation in the codon as pd.Series"""
    variation_matrix: pd.DataFrame = translate_codons_df(mutated_p53).astype(str)

    res: pd.DataFrame = variation_matrix.loc[position].value_counts(normalize=True)

    return res

# -> das sollte idealerweise irgendwie über alle zeilen angewandt werden und dann zusammengeschrieben werden. daran hänge ich gerade etwas.

4
Q    0.2
H    0.2
K    0.1
*    0.1
E    0.1
L    0.1
R    0.1
P    0.1
Name: proportion, dtype: float64

In [56]:
aa

,Original,Variation 1,Variation 2,Variation 3,Variation 4,Variation 5,Variation 6,Variation 7,Variation 8,Variation 9
0,M,L,V,L,K,R,T,I,I,I
1,E,K,*,Q,V,G,A,E,D,D
2,E,K,*,Q,V,G,A,E,D,D
3,P,T,S,A,Q,L,R,P,P,P
4,Q,K,*,E,L,R,P,Q,H,H
...,...,...,...,...,...,...,...,...,...,...
388,G,R,W,R,E,V,A,G,G,G
389,P,T,S,A,H,L,R,P,P,P
390,D,N,Y,H,V,G,A,E,D,E
391,S,T,A,P,*,L,*,S,S,S
392,D,N,Y,H,V,G,A,E,D,E